input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.containerconta {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.columnconta {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.columnconta input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Clear floats after the columns */
.rowconta:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnconta, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .contact p{
      font-size: 15px;
      font-weight: bold;
  }
}
.contact{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.get-email_contact{
  top: 20%;
left: 0%;
width: 40%;
margin-left: 4%;
  text-align: left;
}
.email_call{
  align-items: center;
}
.call-icon, 
.map-icon{
  padding-top: 25px;
}
.email-icon,
.call-icon,
.map-icon{
  display: flex;
  align-items: center;
}
.contact p{
  color: black;
  font-family: sans-serif;
}
.iframe{
text-align: center;
}
@media (max-width: 768px) {
iframe{
  width: 100%;
}
} 