@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/


body{
    background-color: var(--white);
    font-family: sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #68bbeb;
}

.nav-links a {
  color: rgb(245, 222, 179);
}

/* LOGO */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(245, 222, 179);
  color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: #333;
  color: rgb(245, 222, 179);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.menu{
  opacity: 0.9;
}
.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 10em;
  text-align: center;
}

.dropdown li:hover {
  background-color: rgb(245, 222, 179);
  color: var(--black);
}

.services:hover .dropdown {
  display: block;
}  
/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:#68bbeb;
    right: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 35px;
    width: 50%;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(245, 222, 179);
    color: black;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

/* Responsiveness */
@media screen and (max-width: 600px) {
    body{
      overflow-x: hidden;
    }
    .in-page{
      flex-direction: none;
    }
    .logo-b{
        width: 99.4%;
    }
    .heading-web{
      margin-top: 0;
    }
    .div-image{
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .a-web{
      display: block;
      float: left;
    }
    .heading-web{
        margin-top: 30px;
    }
    .paragraph-one{
        margin-top: 30px;
    }
    .cv{
        text-align: right;
        margin-bottom: 30px;
        margin-top: 15px;
    }
}
@media (min-width: 700px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}



.in-page{
    color: #efefef;
}
.div-image{
  text-align: center;
  float: left;
}
.logo-b{
 margin-bottom: 20px;
 border-radius: 50%;
}
.heading-web{
    color: rgb(238, 164, 28);
    margin-top: 70px;
    text-transform: capitalize;
    font-size: 30px;
}
.a-web{
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
.paragraph-one{
    line-height: 30.4px;
    margin-top: 50px;
    color: rgb(238, 164, 28);
}
.button-download-cv{
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    border-color: rgb(241, 162, 14);
    color: rgb(238, 157, 7);
    border-bottom-style: solid;
    border-right-style: solid;
}
.cv{
  margin-top: 30px;
}
.cv :hover{
    cursor: pointer;
    background-color: var(--black);
    border-color: var(--black);
}
.our{
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
    font-family: cursive;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 50px;
}
.our-work-grid{
    display: grid;
    grid-template-columns:1fr ;
    text-align: center;
}
.our-work-grid img {
    width: 90%;
    margin-top: 50px;
}
.our-list {
    margin-bottom: 50px;
    margin-left: 40%;
    margin-top: 20px;
}
.our-list li {
  margin-top: 10px;
}
.bot, .cs,.IT {
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
}
.our-work-grid p {
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px;
}
.our-work-grid li {
    text-align: left;
    margin-left: 20px;
}
.our-work-grid :hover{
    transition: 0.5s;
    cursor: text;
    color: rgb(245, 222, 179);
    background-color: #333;
}

@media screen and (max-width: 700px) {
    .our-work-grid {
        grid-template-columns: none;
    }
    .our-list{
      margin-left: 0;
    }
}
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
    .testimonials{
        display: block;
    }
  }
  .accordion-full{
    font-family: sans-serif;
    font-size: 19px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #333; 
    color: rgb(245, 222, 179);
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .counter{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 30px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {
    margin: 0 -5px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #333;
    color: rgb(245, 222, 179);
  }
  .column :hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
  
  .fa {font-size:50px;}
  .footer{
    display: grid;
    background-color: #333;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  footer a {
    color: var(--white);
    text-transform: capitalize;
  }
  .p-o-s{
    font-size: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: cursive;
  }
  .t, .i, .c {
    margin-left: 19px;
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  .footer-quick-links{
    margin-left: 19px;
  }
  .footer-quick-links a{
    display: block;
    margin-bottom: 40px;
  }
  .footer-quick-links p {
    font-size: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-transform: capitalize;
  }
  .footer-contact-us{
    margin-right: 19px;
    font-family: cursive;
  }
  .footer-contact-us p{
    font-size: 30px;
    margin-bottom: 50px;
  }
.foot-contact{
    font-size: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-transform: capitalize;
}
.socials {
    display: flex; 
    justify-content: start;
    align-items: center;
    margin-top: 50px;
  }
  
  .socials a {
    text-decoration: none;
    color: var(--color);
    margin: 0 10px; 
  }
  
  .socials a i {
    font-size: 26px; 
    color: white; 
    transition: color 0.3s ease; 
  }
  
  .socials a:hover i {
    font-size: 28px;
    color: var(--color); 
    transform: scale(1.5);
  }

  .email-icon, .call-icon{
    display: flex;
    text-align: center;
  }
  .call-icon p{
    font-size: 25px;
  }
  .email-icon p{
    font-size: 25px;
  }
  @media screen and (max-width: 700px) {
    .footer{
        grid-template-columns: none;
    }
  }
  .o-l{
    font-family: cursive;
    text-decoration: underline;
    font-size: 30px;
    text-transform: capitalize;
  }
.click-me{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #68bbeb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.click-me button{
  background-color: #68bbeb;
  border: none;
}